<div ng-app="myApp.viewZoolander" ng-controller="ViewZoolanderCtrl"> 
<h1>What is this? A center for Ants?</h1>
<p>We have a vision here. Click below to explore our wonderland.</p>
  <div class="person">
	    <p>{{ person.firstName }} #{{ person.id }} is a {{ person.gender }}!!!</p>
		<img class="zooImageProfile" src="{{ person.imageFile }}" alt="{{ person.firstName + ' is a ' + person.gender }}." />

  </div>
  <div class="people" ng-repeat="x in people">
	    <a href="#/zoo/{{x.id}}" ng-click="open(x);">
	    	<p>{{ x.firstName}}.</p>
			<img class="zooImageList" src="{{ x.imageFile }}" alt="{{ x.firstName + ' is a ' + x.gender }}." />
	    </a>

  </div>


</div>